extends ../../layouts/default.pug
//- extends dùng để kế thừa lại layout defautl
//- nhugn mixin vao
include ../../mixins/box-head.pug   
include ../../mixins/product-layout.pug   
//- include dùng để nhúng vào 
block main
    .container.my-3 
        .row
            .col-12 
                +box-head("Danh sách sản phẩm")
        +product-grid(product)