header.header
    .container-fluid
        .row.align-items-centers
            .col-3 
                .inner-logo
                    a(href = "/")
                        img(src=settingGeneral.logo, alt = "logo")
            .col-9
                div(class = "text-right text-center")
                    a(
                        href = `${prefixAdmin}/my-account`
                        class = "btn btn-primary btn-sm mr-2"
                    ) #{user.fullName}
                    a(
                        href = `${prefixAdmin}/auth/logout`
                        class = "btn btn-danger btn-sm"
                    ) Đăng xuất